/*winter_speccial cashBox.css*/

#cashBox{width: 960px;height: auto; padding: 90px 0;box-sizing: border-box;}
#cashBox>div{float: left; /*height: auto;*/ position: relative;}
/*.card_area----------------------------*/
.card_area{width: 60%; /*height: 700px;*/ background-color: #eee;text-align: center;}

.card_area dl{width: 100%;height: auto; position: absolute;top: 0;left: 0; background-color:inherit; display: none;}
.card_area dl:first-of-type{display: block;}
.card_area dl.view{display: block;}

.card_area dt{padding: 60px;box-sizing: border-box;}
.card_area h4{height: 140px;font-size: 50px;font-weight: bold;text-transform: capitalize;}


/*이미지 -----------------*/
.card_area dd.img{width: 300px;height: 210px;margin: 0 auto;
 filter: drop-shadow(5px 5px 5px #888);
  background-repeat: no-repeat;background-position: center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.card_area dl:nth-of-type(1) dd.img{ background-image: url(../../../img/icon_morning.png);}
.card_area dl:nth-of-type(2) dd.img{background-image: url(../../../img/icon_afternoon.png);}
.day{font-size: 80px;color: #fc0;font-family: apadosori;}
.card_area dl:nth-of-type(4) dd.img{background-image: url(../../../img/icon_event.png);}

  
.card_area dd.text{padding: 90px 160px;box-sizing: border-box;font-size: 25px;}
.card_area dd.text>strong{float: left;}
.card_area dd.text>span{float:right;}

/*.ticket_area--------------------------*/
.ticket_area{width: 40%; z-index: 400; }
.ticket_area a{display: block;width: 390px;height: auto;margin-bottom: 60px;background-color: #fff;padding: 20px 40px;box-sizing: border-box;transition:all 500ms ease;text-align: left;}
.ticket_area a:first-of-type{margin-top: 30px}
.ticket_area dl{}
.ticket_area a:hover,
.ticket_area a.active
{box-shadow:5px 5px 5px #888;margin-left: -25px;font-weight: bold;
}
.ticket_area dt{font-size: 25px;color: #0f7df5;margin-bottom: 30px;}
.ticket_area dd{font-size: 16px;}

.little{padding: 0 30px;box-sizing: border-box;font-weight: bold;
}






























