/*winter_speccial festival periodBox.css*/
#periodBox{width: 100%;height: auto;background-color: transparent;padding: 150px 0;box-sizing: border-box;}

#periodBox>div{width: 100%;min-height:120px; height:12.5vw; /* 120 / 960 *100 */
  background-image: url(../../../img/flat.png);
  background-repeat: no-repeat;
background-position: center center;
-webkit-background-size: 100% auto;
-moz-background-size: 100% auto;
-ms-background-size: 100% auto;
-o-background-size: 100% auto;
background-size: 100% auto}
/*bar---------------------------------*/
.periodBoxWrap{position: relative;}
#periodBox.bar_top:after{bottom: 90px;}
#periodBox.bar_bottom:before{top: 90px;}