.periodBoxWrap{m/*argin-bottom: 60px;*/}
#periodBox{width: 100%;height: auto;background-color: transparent;position:relative;
  top:-6.25vw/*60 / 960 * 100*/;}

#periodBox>div{width: 100%;min-height:120px; height:12.5vw; /* 120 / 960 *100 */
  background-image: url(../../../img/fes_flat.png);
  background-repeat: no-repeat;
background-position: center center;
-webkit-background-size: 100% auto;
-moz-background-size: 100% auto;
-ms-background-size: 100% auto;
-o-background-size: 100% auto;
background-size: 100% auto}