/*winter_speccial galleryBox.css*/

#galleryBox{width: 960px;height: auto;padding: 90px 70px;box-sizing: border-box;}

#galleryBox .picture{width: 45%;height: 420px;float: right;
  margin-bottom: 60px;
-webkit-background-size: 100%;
-moz-background-size: 100%;
-ms-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;
background-position: center;
transition: all 800ms ease; background-repeat: no-repeat;
}
#galleryBox .picture:first-of-type{height: 210px;float: left;background-image: url(../../../img/gallery_01.jpg);
}
#galleryBox .picture:nth-of-type(2){background-image: url(../../../img/gallery_02.jpg);
}
#galleryBox .picture:nth-of-type(3){float: left;background-image: url(../../../img/gallery_03.jpg);
}
#galleryBox .picture:nth-of-type(4){background-image: url(../../../img/gallery_04.jpg);
}
#galleryBox .picture:nth-of-type(5){background-image: url(../../../img/gallery_05.jpg);
float: left;}
#galleryBox .picture:last-of-type{height: 210px;background-image: url(../../../img/gallery_06.jpg);}

#galleryBox .picture>a{display: block;width: 100%;height: 100%;}
#galleryBox .picture:hover{
  -webkit-background-size: 150%;
  -moz-background-size: 150%;
  -ms-background-size: 150%;
  -o-background-size: 150%;
background-size: 150%; }
