/*galleryBox.css*/

#galleryBox{width: 960px;height: auto;padding: 30px 45px;box-sizing: border-box;}
#galleryBox>a{display: block;float: left;margin-right: 20px;}
#galleryBox>a.last{margin-right: 0;}

.content_area{width: 200px;height: 270px;margin-bottom: 30px;}
.content_area>.pic{width: 100%;height: 65%;opacity: 0.5;
 background-repeat: no-repeat;background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content_area>.pic:hover{opacity: 1;}
.content_area>.img_01{background-image: url(../../../img/gallery_01.png);
}
.content_area>.img_02{background-image: url(../../../img/gallery_02.png);
}
.content_area>.img_03{background-image: url(../../../img/gallery_03.png);
}
.content_area>.img_04{background-image: url(../../../img/gallery_04.png);
}

.content_area>.text{height: 35%;background-color: #eee;color: #333;padding: 20px 10px;box-sizing: border-box;}
.content_area>.text:hover{background-color: #fff;}
.content_area>.text>.text_title{font-size: 20px;font-weight: bold;margin-bottom: 10px;}
.content_area>.text>.text_name{font-size: 12px;}