#wayBox{width: 100%;height: auto;padding: 30px 45px;box-sizing: border-box;}

.way_img{width: 60%;height: 480px;float: left;
  background-image: url(../../../img/jido.png);
  background-position: center;
  -webkit-background-size: auto 100% ;
  -moz-background-size: auto 100% ;
  -ms-background-size: auto 100% ;
  -o-background-size: auto 100% ;
  background-size: auto 100% ;
  background-repeat: no-repeat;
}

.way_text{width: 40%;height: 480px;float: left;padding: 45px 0;box-sizing: border-box;}
.way_text>ul{margin-bottom: 45px;}
.way_text>ul>li{float: left;font-size: 18px;}
.way_text>ul>li>span:first-child{font-weight: bold;}
.fa{width: 58px;font-size: 50px;margin-right: 25px;text-align: center;
}
.fa-car{color: #00b7ff;}
.fa-bus{color: #00a99d;}
.fa-subway{color: #a1a9ff;}
.fa-taxi{color: #f29fa5;}

.detail{font-size: 14px;}
