.title{width: 100%;height: auto;padding: 30px;box-sizing: border-box;text-align: center;color: #fff;
font-size: 30px;font-family: aPadoSori;letter-spacing: 10px;
background-image: url(../../../img/title_pattern.png);
background-repeat: repeat-x;background-position: center;
    }